body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(235, 232, 232);
}
.wrapper {
background-color:  #33374b;
background-repeat: no-repeat;
background-size: cover;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
align-items: center;

height: 80vh;
}
.curtain-nav{
    background-color:rgba(255, 255, 255, 0.719);
    border: none;
    width: 100%;
    border-radius: 0;
    box-shadow: 0px 10px 10px 4px rgba(159, 158, 190, 0.384);
  }
.index-curtains-header{
 text-align: center;
 display: flex;
 align-items: center;
 flex-direction: column;
 gap: 50px;
 margin-top: 120px;
    padding: 20px;
min-height: 200px;
height: 100%;}
  

.i{
        font-size: 65px;
        animation: move 2.5s infinite ease-in-out;
      
}
.b{
    border:6px solid   #33374b;
    box-shadow:none;
  
    top:-60%
   }
@keyframes move{
  
    0%{transform: translateY(0px);}
    50%{transform: translateY(-25px);}
    100%{transform: translateY(0px);}
  }
  h1{
    font-size: 55px;
  }
.cloths{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 800px;
    padding: 20px 50px;
    width: 100%;
    align-items: center;
   

    margin: 0 auto;
}
.box-cloth{
    width: 200px;
    height: 225px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(39, 38, 38);
    border-radius: 10px;
    text-align: center;
    color: white;
    transition: 0.5s ease;
    box-shadow: 0px 0px 15px 5px white;
 
}
.box-cloth p{
    font-size: 35px;
    
}
.box-cloth span{
    font-size: 30px;
}
.box-cloth:hover{
    background-color: white;
    color: black;
  
    border: 2px solid black;
}


